<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body mx-auto">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">About me
          </h6>
        </div>

      </div>
      <div class="row align-items-center">
        <div class="col-auto mx-auto">
          <div class="card card-profile">
            <img src="../../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="../../assets/img/about.png" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <button type="button" (click)="openUrl('http://facebook.com/mtwn1051')"
                  class="btn btn-facebook btn-icon-only rounded-circle">
                  <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
                </button>
                <button (click)="openUrl('https://github.com/mtwn105')" type="button"
                  class="btn btn-github btn-icon-only rounded-circle">
                  <span class="btn-inner--icon"><i class="fab fa-github"></i></span>
                </button>
              </div>
            </div>
            <div class="card-body pt-0">

              <div class="text-center">
                <h5 class="h3">
                  Amit Wani
                </h5>
                <div class="h4 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Angular Developer
                </div>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Pune, Maharashtra
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
